.main-page{
    background-image: url("../../../public/images/marteFundo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
    padding-top: 100px;
    overflow-y: auto;
    .top{
        padding: 24px 10%;
        background-color: #0008;
        h1{
            font-size: 36px;
        }
        h4{
            font-weight: 400;
            font-size: 18px;
            width: 420px;
        }
    }
    .temperatures{
        position: relative;
        .content{
            display: flex;
            gap: 16px;
            padding: 100px 0 2px;
            margin: 64px 40px;
            overflow-x: auto;
            &::-webkit-scrollbar {
                height: 10px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
                background: #fff6;
                border-radius: 8px;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #0008;
                border-radius: 8px;
            }
            
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #000a;
            }
        }
        .botoes{
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 40px;
            display: flex;
            width: 120px;
            gap: 4px;
            button{
                width: 36px;
                height: 30px;
                font-weight: 600;
                background-color: #363232;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &.ativo{
                    background-color: rgb(42, 36, 37);
                    border: #dedede solid 2px;
                    color: #e8e8e8;
                }
                &:hover{
                    scale: 1.02;
                    background-color: #433f3f;
                }
            }
        }
    }
    .elysium{
        background-image: url("../../../public/images/elysium.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        box-shadow: 0px -7px 12px #0008;
        padding: 32px 10%;
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
        p{
            background-color: #0007;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            padding: 32px;
            font-size: 24px;
            min-height: 320px;
            line-height: 180%;
            max-width: 45%;
            h2{
                text-align: center;
                margin-bottom: 16px;
            }
        }
        .insight-data{
            max-width: 100%;
        }
    }
}